[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiobotocore = "==2.22.0"
aiohttp = "==3.11.16"
aiokafka = "==0.12.0"
awscrt = "==0.26.1"
bidict = "==0.23.1"
cacheout = "==0.16.0"
docker-image-py = "==0.1.13"
fastapi = {version = "==0.115.12", extras = ["standard"]}
jinja-cli = "==1.2.2"
marisa-trie = "==1.2.1"
motor = "==3.7.0"
python-json-logger = "==3.3.0"
requests = "==2.32.3"
sfapi-client = "==0.4.1"
uvicorn = {version = "==0.34.0", extras = ["standard"]}

[dev-packages]
# for debugging
boto3 = "==1.37.32"
ipython = "==9.1.0"
# redundant to the aio client, but makes some test rigs simpler
kafka-python = "==2.1.5"
# redundant to motor, but makes some test rigs simpler
pymongo = "==4.11.3"
pytest = "==8.3.5"
pytest-asyncio = "==0.26.0"
pytest-cov = "==6.1.1"

[requires]
python_version = "3.11"
