[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiobotocore = "==2.15.2"
aiohttp = "==3.10.10"
sfapi-client = "==0.3.1"
requests = "==2.32.3"
docker-image-py = "==0.1.13"
fastapi = "==0.115.4"
marisa-trie = "==1.2.1"
bidict = "==0.23.1"

[dev-packages]
pytest = "==8.3.3"
coverage = "==7.6.4"
ipython = "==8.29.0"
pytest-asyncio = "==0.24.0"
pytest-cov = "==6.0.0"

[requires]
python_version = "3.11"
